<div class="home-content">
  <h1>Express Basic Template</h1>
  <p class="lead">
      Use this template to quickly start any new project with Express, Handlebars and Boostrap.<br />       
  </p>

  <h3>Included packages:</h3>

  <ul>
    <li>express</li>
    <li>express-logger</li>
    <li>express3-handlebars</li>
    <li>body-parser</li>
    <li>cookie-parser</li>
    <li>morgan</li>
  </ul>
</div>



{{#section 'script'}}


{{/section}}    

